@font-face {
    font-family: 'sfpro';
    font-style: normal;
    src: url(https://maharshi878.github.io/lib/fonts/sfpro/font.woff2) format('woff2');
}
@font-face{
    font-family: 'sfpro';
    font-style: bold;
    src: url(https://maharshi878.github.io/lib/fonts/sfpro/fontmed.woff2);
}